body {
	font-family: 'Oxygen', sans-serif;
	margin: 0px;
}

header {
	padding: 0 10px;
	border-bottom: 1px solid #D2527F;
	margin-bottom: 15px;
	box-shadow: lightgrey 0px 0px 3px;
	position: relative;
}

header h1 {
	font-weight: 400;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 15px;
}

header .author-section {
	font-size: 0.8em;
	position: absolute;
	right: 10px;
	bottom: 15px;
}

#gMap {
	flex-grow: 1;
    height: 500px;
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

#chart {
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

.vis-content {
	display: flex;
	margin: 0 10px;
}

#resize-handle {
	width: 20px;
	background: #DDD;
	cursor: e-resize;
}

#collision-and-speed-chart {
	display: none;
}

#month-selection {
	background: rgba(100, 100, 100, 0.15);
	width: 9;
	margin-left: -4px;
	height: 120;
	position: absolute;
	top: 122px;
	display: none;
	z-index: -1;
}

.street-selected {
	stroke: black;
	stroke-width: 2;
	opacity: 1;
}

#legendCheck
{
	padding-left: 5em;
	display: none;
}

#legendCheck
{
	padding-left: 4em;
}

.legend-entry label:before {
	content: "";
	width: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.legend-entry input {
	display: none;
}

/* if the checkbox isn't checked, display the color box at a lower opacity */
.legend-entry input + label:before {
	opacity: 0.5;
}

.legend-entry input:checked + label:before {
	opacity: 1;
}

.legend-entry label[for="legend-theftFromCar"]:before {
	background-color: rgb(255, 127, 0);
}

.legend-entry label[for="legend-theftOfCar"]:before {
	background-color: rgb(153, 153, 153);
}

.legend-entry label[for="legend-collision"]:before {
	background-color: rgb(77, 175, 74);
}

.legend-entry label[for="legend-shoplifting"]:before {
	background-color: rgb(152, 78, 163);
}

.legend-entry label[for="legend-beBusiness"]:before {
	background-color: rgb(228, 26, 28);
}

.legend-entry label[for="legend-beResidence"]:before {
	background-color: rgb(55, 126, 184);
}

#graphToolTip
{
    position: absolute;
    display: none;
    background: #ffffff;
    padding: 4px 12px;
    border: 1px solid;
    border-radius: 2px;
    width: 270px;
    box-sizing: border-box;
    /* transforming based on percentages was causing blurry text, so explicitly set */
	transform: translate(-135px, 18px);
}

#graphToolTip h2 {
	font-size: 18px;
	margin: 5px 0 0 0;
}

#graphToolTip th {
	text-align: left;
	font-size: 14px;
}

#graphToolTip .tooltip-entry {
	font-size: 12px;
}

#graphToolTip .tooltip-data {
	text-align: right;
}


#graphToolTip::after {
	content: "";
	display: block;
	position: absolute;
	top: -15px;
	left: calc(50% - 8px);
	
	width: 0; 
	height: 0; 

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-bottom: 15px solid black;
}