body {
	font-family: 'Oxygen', sans-serif;
	margin: 0px;
}

header {
	padding: 0 10px;
	border-bottom: 1px solid #D2527F;
	margin-bottom: 15px;
	box-shadow: lightgrey 0px 0px 3px;
	position: relative;
}

header h1 {
	font-weight: 400;
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 15px;
}

header .author-section {
	font-size: 0.8em;
	position: absolute;
	right: 10px;
	bottom: 15px;
}

#gMap {
	flex-grow: 1;
    height: 500px;
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

#chart {
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

.vis-content {
	display: flex;
	margin: 0 10px;
}

#resize-handle {
	width: 20px;
	background: #DDD;
	cursor: e-resize;
}

#collision-and-speed-chart {
	display: none;
}

#month-selection {
	background: rgba(100, 100, 100, 0.15);
	width: 9;
	margin-left: -4px;
	height: 120;
	position: absolute;
	top: 122px;
	display: none;
	z-index: -1;
}

#graphToolTip
{
    position: absolute;
    display: none;
    background: lightblue;
    opacity: .9;
    padding: 4px 12px;
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#legendCheck
{
	padding-left: 4em;
}

.legend-entry label:before {
	content: "";
	width: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.legend-entry label[for="legend-theftFromCar"]:before {
	background-color: rgb(255, 127, 0);
}

.legend-entry label[for="legend-theftOfCar"]:before {
	background-color: rgb(255, 255, 51);
}

.legend-entry label[for="legend-collision"]:before {
	background-color: rgb(77, 175, 74);
}

.legend-entry label[for="legend-shoplifting"]:before {
	background-color: rgb(152, 78, 163);
}

.legend-entry label[for="legend-beBusiness"]:before {
	background-color: rgb(228, 26, 28);
}

.legend-entry label[for="legend-beResidence"]:before {
	background-color: rgb(55, 126, 184);
}