#gMap {
	flex-grow: 1;
    height: 500px;
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

#chart {
	-webkit-transition: all 0.25s ease-in 0s;
  	transition: flex-grow 0.25s ease-in 0s;
  	will-change: flex-grow;
}

.vis-content {
	display: flex;
}

#resize-handle {
	width: 20px;
	background: #DDD;
	cursor: e-resize;
}

#collision-and-speed-chart {
	display: none;
}